@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="jumbotron text-center bg-primary text-white py-5">
        <h1 class="display-4 text-black fw-bold">Bem-vindo à Tech Library!</h1>
        <p class="lead text-black fw-bolder" >Sua biblioteca de tecnologia favorita online.</p>
        <hr class="my-4">
        <p class="text-black-50 fw-bolder">Explore nosso acervo de livros e faça suas reservas online.</p>
        <a class="btn btn-light btn-lg" href="books" role="button">Ver Livros</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://www.rbsdirect.com.br/filestore/4/5/7/3/2/8/4_607b3d2f9db96c0/4823754_d508394098f8f23.jpg?w=700" class="card-img-top fixed-image" alt="Biblioteca">
                <div class="card-body">
                    <h5 class="card-title">Nosso Acervo</h5>
                    <p class="card-text">Explore uma vasta coleção de livros sobre tecnologia, programação, ciência de dados e muito mais.</p>
                    <a href="books" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://www.hotellisboa.com.br/imgs/reserva-big.png" class="card-img-top fixed-image" alt="Reserva de Livros">
                <div class="card-body">
                    <h5 class="card-title">Reservas Fáceis</h5>
                    <p class="card-text">Faça a reserva dos seus livros favoritos com apenas alguns cliques. É rápido e prático!</p>
                    <a href="checkout" class="btn btn-primary">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>

